{% extends "base.html" %}

{% block title %}Form {{id}}{% endblock title %}

{% block content %}
{% if created_item is defined %}

{% endif %}

<div class="row mb-5">
    <h1 class="col-12">This is Form {{ id }}.</h1>
</div>

<form class="row g-3" method="POST">
    <input type="hidden" readonly name="form" value="{{ id }}">
    {% if item is defined %}
    <input type="hidden" readonly name="id" value="{{ item.id }}">
    {% endif %}
    <div class="col-6">
        <label for="item_name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" id="item_name" required
            {% if item is defined %}value="{{ item.name }}" {% endif %}>
        <div class="form-text">We'll never share the name with anyone else.</div>
    </div>
    <div class="col-6">
        <label for="item_number" class="form-label">Number</label>
        <input type="number" class="form-control" name="number" id="item_number" required
            {% if item is defined %}value="{{ item.number }}" {% endif %}>
    </div>
    <div class="col-12">
        <label for="item_description" class="form-label">Example textarea</label>
        <textarea class="form-control" id="item_description" rows="3" name="description"
            placeholder="Provide a lengthy description, if you like."
            >{% if item is defined %}{{ item.description }}{% endif %}</textarea>
    </div>
    <div class="col-12">
        <input class="form-check-input" type="checkbox" value="" id="terms-and-conditions" required>
        <label class="form-check-label" for="terms-and-conditions">
            Agree to terms and conditions
        </label>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

<script src="{{ url_for('static', path='/form.js') }}"></script>
{% endblock content %}