{% extends "base.html" %}

{% block title %}Node {{id}}{% endblock title %}

{% block content %}
<div class="row table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">UID</th>
                <th scope="col">Hardware</th>
                <th scope="col">Software</th>
                <th scope="col">Git</th>
                <th scope="col">CRC</th>
                <th scope="col">Uptime</th>
                <th scope="col">Health</th>
                <th scope="col">Mode</th>
                <th scope="col">VSSC</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{ node.info.name }}</td>
                <td>{{ node.info.unique_id[-8:] }}</td>
                <td>{{ node | format_hardware_version }}</td>
                <td>{{ node.info.software_version.major }}.{{ node.info.software_version.minor }}</td>
                <td>{{ node.info.software_vcs_revision_id[:8] }}</td>
                <td>{{ node.info.software_image_crc }}</td>
                <td>{{ node.heartbeat.uptime | format_uptime }}</td>
                <td>{{ ["Nominal", "Advisory", "Caution", "Warning"][node.heartbeat.health.value] }}</td>
                <td>{{ ["Operational", "Initialization", "Maintenance", "Software Update"][node.heartbeat.mode.value] }}
                </td>
                <td><code>0x{{ "%02x" % node.heartbeat.vendor_specific_status_code }}</code>
                    ({{ node.heartbeat.vendor_specific_status_code }})</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
                <th scope="col">Min</th>
                <th scope="col">Max</th>
                <th scope="col">Default</th>
                <th scope="col">Type</th>
                <th scope="col">Mutable</th>
                <th scope="col">Persistent</th>
                <th scope="col">Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for name, register in registers | dictsort %}
            <tr>
                <th scope="row">{{name}}</th>
                <td>{{register.value}}</td>
                <td>{{register.min if register.min is not none}}</td>
                <td>{{register.max if register.max is not none}}</td>
                <td>{{register.default if register.default is not none}}</td>
                <td><code>{{register.dtype}}</code></td>
                <td>{{register.mutable}}</td>
                <td>{{register.persistent}}</td>
                <td>{{register.timestamp}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% for name, register in registers | dictsort if register.mutable and '[1]' in register.dtype and name not in ['uavcan.node.id'] %}
<div class="row mb-3">
    <div class="col-8 col-lg-3">
        <label for="reg-{{ name | replace('.', '-') }}" class="form-label">{{name}}</label>
    </div>
    <div class="col-4 col-lg-1 text-center" id="reg-{{ name | replace('.', '-') }}-value">{{register.value}}</div>
    <div class="col-lg-8 px-4 px-lg-3">
        {% if register.min is not none and register.max is not none -%}
        <input type="range" id="reg-{{ name | replace('.', '-') }}" class="form-range" disabled data-node="{{id}}"
            data-register="{{name}}" value="{{register.value}}" min="{{register.min}}" max="{{register.max}}"
            step="any" />
        {%- else -%}
        <input type="text" id="reg-{{ name | replace('.', '-') }}" class="form-control" disabled data-node="{{id}}"
            data-register="{{name}}" value="{{register.value}}" />
        {%- endif %}
    </div>
</div>
{% endfor %}

<script src="{{ url_for('static', path='/registers.js') }}"></script>
{% endblock content %}
