{% extends "base.html" %}

{% block title %}{{ message | default("I'm a Teapot") }}{% endblock title %}

{% block content %}
<h1 class="d-flex justify-content-center">
    {% if status %}{{ status }}: {% endif %}
    {{ message | default("I'm a Teapot") }}
</h1>
<pre class="d-flex justify-content-center">

                         _
                     ____( )_____
     ___            |            |     ____
     \  \         _---__________---_  / __ \
      \  \       /                  \/ /  \ \
_______|  |_____/                    \/____\ \_________________________________
       |  |    /                      \     | |
        \  \__|                        |    | |      _____________
         \    |                        |    | |      |           |/\
          \   |                        |   / /       |___________|  \
           \__\                        /__/ /        \-----------/  /
               \                      /____/          |---------|__/
                \____________________/               / \ _____ / \
                 |__________________|                \___________/
</pre>
{% endblock content %}
